################################################################################
#	INCLUDE OTHER CONFIGURATION FILES
################################################################################

include giraff.config


################################################################################
#	SYMLINK FILES & DIRECTORIES
# 	---------------------------
#
# WHERE TO PUT THE SYMLINK			SYMLINKED FILE INSIDE DOTFILES/
# v v v v v v v v v v v v 			v v v v v v v v v v v v v v v v
################################################################################

~/.config/synth-shell/synth-shell-prompt.config	giraff/giraff-orange/synth-shell-prompt.config
~/.config/synth-shell/synth-shell-greeter.config giraff/giraff-orange/synth-shell-greeter.config
